.meal-recipe {
  border: 1px dashed grey;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  &__icons {
    display: flex;
  }
  &__icon {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    width: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
