@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.meal-recipe {
  background-color: $SecondaryColor;
  border-radius: 6px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;

  &__icons {
    display: flex;
  }
  &__icon {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    width: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__tool {
    position: relative;
  }
  &__tooltip {
    @include tooltip;
  }
  &__tool:hover &__tooltip {
    display: block;
  }
}
