@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.meal-recipe {
  border: 1px dashed grey;
  background-color: $SecondaryColor;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;

  // &__thumbnail {
  //   width: 4rem;
  // }
  &__icons {
    display: flex;
  }
  &__icon {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    width: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__item {
    position: relative;
    // display: inline-block;
  }
  &__message {
    @include pop-up-message;
  }
  &__item:hover &__message {
    display: block;
  }
}
