@use "./colors" as *;
@use "./typography" as *;

body {
  font-family: "Mali", Helvetica, Arial, sans-serif;
  background-color: $BackgroundColor;
  background-image: url("../../assets/images/bg-left-bottom.png"),
    url("../../assets/images/bg-right-top.png"),
    url("../../assets/images/bg-right-bottom.png");
  background-position: bottom -6rem left -15rem, right -6rem top -6rem,
    right -8rem bottom -3rem;
  background-size: 50rem, 20rem, 20rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

p {
  color: $FontColor;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  color: $FontColor;
}
