@use "./colors" as *;

body {
  //   font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
  background-color: #b6c471;
  background-image: url("../../assets/images/bg-left-bottom.png"),
    url("../../assets/images/bg-right-top.png");
  background-position: bottom -6rem left -15rem, right -6rem top -6rem;
  background-size: 50%, 20%;
  background-repeat: no-repeat, no-repeat;
}

p {
  color: $FontColor;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  color: $FontColor;
  //   &:visited {
  //     color: black;
  //       text-decoration: none;
  //   }
}
