@use "./colors" as *;

@mixin desktop-section-max-width {
  margin: 0 auto;
  max-width: 1044px;
}

@mixin tooltip {
  display: none;
  position: absolute;
  border-radius: 6px;
  width: max-content;
  z-index: 1; /* Ensure it's above other content */
  background-color: $TitleColor;
  color: white;
  padding: 0.25rem 0.5rem;
}
