@font-face {
  font-family: "Mali";
  src: url("../../assets/fonts/Mali-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Mali";
  src: url("../../assets/fonts/Mali-Medium.ttf") format("truetype");
  font-weight: 500;
}
