@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.tracker {
  @include desktop-section-max-width;
  min-height: 50rem;
  &__title {
    text-align: center;
    color: $TitleColor;
  }

  &__table {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    width: 87%;
    align-self: flex-end;
  }
  &__heading {
    width: 20rem;
    text-align: center;
    background-color: $PrimaryColor;
    border-radius: 6px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

.meal {
  &__row {
    display: flex;
    width: 100%;
    border-bottom: 1px dashed $FontColor;
  }
  &__date-container {
    min-width: 13%;
  }
  &__list {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__item {
    flex: 1;
  }
}
