@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.meal {
  &__type {
    background-color: $PrimaryColor;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.meal-add-recipe {
  border: 1px dashed grey;
  margin: 0.5rem;
  position: relative;
  // background-color: $SecondaryColor;

  &:hover {
    cursor: pointer;
  }
  &__icon {
    padding-bottom: 0.05rem;
    padding-top: 0.25rem;
    width: 1rem;
  }

  &__message {
    @include pop-up-message;
  }
  &:hover &__message {
    display: block;
  }
}
