@use "../../styles/partials/colors" as *;

.meal {
  &__type {
    background-color: $PrimaryColor;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.meal-add-recipe {
  border: 1px dashed grey;
  margin: 0.5rem;
  position: relative;
  // background-color: floralwhite;

  &:hover {
    cursor: pointer;
  }
  &__icon {
    padding-bottom: 0.05rem;
    padding-top: 0.25rem;
    width: 1rem;
  }

  &__message {
    display: none;
    position: absolute;
    // width: 100%; /* Adjust based on your design */
    // top: 100%; /* Adjust based on your design */
    // left: 0;
    z-index: 1; /* Ensure it's above other content */
    background-color: $PrimaryColor;
    color: black; /* Optional, adjust as needed */
    // text-align: center; /* Optional, for styling */
    padding: 5px; /* Optional, for styling */
  }
  &:hover &__message {
    display: block;
  }
}
