@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.meal {
  &__type {
    background-color: $PrimaryColor;
    border-radius: 6px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.meal-add-recipe {
  border: 1px dashed grey;
  border-radius: 6px;
  margin: 0.5rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &__icon {
    padding-bottom: 0.05rem;
    padding-top: 0.25rem;
    width: 1rem;
  }

  &__tooltip {
    @include tooltip;
  }
  &:hover &__tooltip {
    display: block;
  }
}
